@font-face {
    font-family:'Neue-bold' ;
    src: url('../fonts/Neue/TTFirsNeue-Bold.ttf');
}
@font-face {
    font-family: 'Neue-DemiBold';
    src: url('../fonts/Neue/TTFirsNeue-DemiBold.ttf');
}
@font-face {
    font-family: 'Neue-medium';
    src: url('../fonts/Neue/TTFirsNeue-Medium.ttf');
}
@font-face {
    font-family: 'Neue-regular';
    src: url('../fonts/Neue/TTFirsNeue-Regular.ttf');
}
@font-face {
    font-family: 'Segeo-UI';
    src: url('../fonts/Segeo/Segoe UI.ttf');
}